@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes faceIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@layer base {
    html {
        @apply text-gray-900;
    }
    * {
        box-sizing: border-box;
    }

    button {
        @apply bg-white border border-gray-300 focus:outline-none
        hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5
        py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600
        dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 dark:border;
    }

    select {
        @apply rounded-lg border border-gray-300 focus:outline-none dark:text-white dark:border-gray-600
        dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 dark:bg-gray-800;
    }

    input, textarea {
        @apply rounded-lg border border-gray-300 focus:outline-none dark:text-white dark:border-gray-600
        dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 dark:bg-gray-800;
    }

    textarea {
        box-sizing: border-box;
        line-height: normal;
        overflow: auto;
        display: block;
        margin: 0;
        padding: 0;
        width:100%;
    }

    .half-border::after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 50%;
        border-bottom: 2px solid red;
        bottom: 0;
    }

    .color-button {
        @apply px-4 py-2 bg-blue-500 text-white hover:bg-blue-400 font-semibold border-none;
    }
}
